body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
    color: white;
    position: relative;
}

div#hadith {
    position: absolute;
    bottom: 40px;
    font-size: 1.2rem;
    margin-top: 40px;
    padding: 0 20px;
    max-width: 80%;
}

div#date {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

div#greeting {
    font-size: 2rem;
    font-weight: bold